In [1]:
# import the widgets
import ipywidgets as widgets

# import the interact and the interact_manual from widgetss
from ipywidgets.widgets import interact, interact_manual

# import pandas
import pandas as pd


# import plotly 
import plotly.graph_objects as go

In [3]:
slider = widgets.IntSlider(
    min=0,
    max=10,
    step=1,
    description='Slider:',
    value=3
)

slider

IntSlider(value=3, description='Slider:', max=10)

In [5]:
# the current value of slider
print(slider.value)

6

In [6]:
print(dir(widgets))

['Accordion', 'AppLayout', 'Audio', 'BoundedFloatText', 'BoundedIntText', 'Box', 'Button', 'ButtonStyle', 'CallbackDispatcher', 'Checkbox', 'Color', 'ColorPicker', 'Combobox', 'Controller', 'CoreWidget', 'DOMWidget', 'DatePicker', 'Datetime', 'Dropdown', 'FileUpload', 'FloatLogSlider', 'FloatProgress', 'FloatRangeSlider', 'FloatSlider', 'FloatText', 'GridBox', 'GridspecLayout', 'HBox', 'HTML', 'HTMLMath', 'Image', 'IntProgress', 'IntRangeSlider', 'IntSlider', 'IntText', 'Label', 'Layout', 'NumberFormat', 'Output', 'Password', 'Play', 'RadioButtons', 'Select', 'SelectMultiple', 'SelectionRangeSlider', 'SelectionSlider', 'SliderStyle', 'Style', 'Tab', 'Text', 'Textarea', 'ToggleButton', 'ToggleButtons', 'ToggleButtonsStyle', 'TwoByTwoLayout', 'VBox', 'Valid', 'ValueWidget', 'Video', 'Widget', '__builtins__', '__cached__', '__doc__', '__file__', '__jupyter_widgets_base_version__', '__jupyter_widgets_controls_version__', '__loader__', '__name__', '__package__', '__path__', '__protocol_version__', '__spec__', '__version__', '_handle_ipython', '_version', 'dlink', 'docutils', 'domwidget', 'fixed', 'get_ipython', 'handle_kernel', 'interact', 'interact_manual', 'interaction', 'interactive', 'interactive_output', 'jsdlink', 'jslink', 'link', 'load_ipython_extension', 'os', 'register', 'register_comm_target', 'trait_types', 'util', 'valuewidget', 'version_info', 'widget', 'widget_bool', 'widget_box', 'widget_button', 'widget_color', 'widget_controller', 'widget_core', 'widget_date', 'widget_description', 'widget_float', 'widget_int', 'widget_layout', 'widget_link', 'widget_media', 'widget_output', 'widget_selection', 'widget_selectioncontainer', 'widget_serialization', 'widget_string', 'widget_style', 'widget_templates', 'widget_upload', 'widgets']

In [7]:
# the data url
url = "https://data.london.gov.uk/download/number-international-visitors-london/b1e0f953-4c8a-4b45-95f5-e0d143d5641e/international-visitors-london-raw.csv"

# create the data-frame
df_london = pd.read_csv(url, encoding= 'unicode_escape')
df_london.columns = ["year","quarter","market","dur_stay","mode","purpose","area","visits","spend","nights","sample"]

# sample 200 rows
df = df_london.sample(200)

In [8]:
df.head()

,year,quarter,market,dur_stay,mode,purpose,area,visits,spend,nights,sample
49764,2016,April-June,Saudi Arabia,15+ nights,Air,VFR,LONDON,0.952459,1.293963,24.854002,1
46922,2015,July-September,Brazil,15+ nights,Air,VFR,LONDON,2.729469,5.828461,57.307887,3
27777,2010,January-March,Qatar,8-14 nights,Air,VFR,LONDON,0.267382,0.140742,2.403484,1
17384,2007,January-March,Switzerland,1-3 nights,Air,Holiday,LONDON,19.411775,5.765481,46.684754,28
21902,2008,April-June,Other Africa,4-7 nights,Air,Business,LONDON,1.979920,2.689175,8.920800,4