In [2]:
# %matplotlib inline
import pandas as pd

### Download the data and load it to Pandas. 

You can find them [here](https://drive.google.com/file/d/1NY6cmF9Shjw-dD7BD6bNmfcIVz-kQcFR/view?usp=sharing).

In [33]:
titles = pd.read_csv('data/titles.csv')
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

In [4]:
cast = pd.read_csv('data/cast.csv', sep=",")
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### How many movies are listed in the titles dataframe?

In [9]:
len(titles["title"])

232330

### What are the earliest two films listed in the titles dataframe?

In [34]:
titles.sort_values("year").head(2)

                     title  year
177757          Miss Jerry  1894
215272  The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [35]:
titles_filter = titles["title"] == "Hamlet"

In [36]:
len(titles[titles_filter])

18

### How many movies are titled "North by Northwest"?

In [37]:
titles_filter = titles["title"] == "North by Northwest"

In [38]:
len(titles[titles_filter])

1

### When was the first movie titled "Hamlet" made?

In [39]:
titles_filter = titles["title"] == "Hamlet"

In [40]:
titles[titles_filter].sort_values("year").head(1)

        title  year
46721  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [41]:
titles_filter = titles["title"] == "Treasure Island"
titles_filter

0         False
1         False
2         False
3         False
4         False
          ...
232325    False
232326    False
232327    False
232328    False
232329    False
Name: title, Length: 232330, dtype: bool

In [42]:
titles[titles_filter].sort_values("year")

                  title  year
206027  Treasure Island  1918
51287   Treasure Island  1920
191050  Treasure Island  1934
96934   Treasure Island  1950
89534   Treasure Island  1972
111343  Treasure Island  1973
205397  Treasure Island  1985
179354  Treasure Island  1999

### How many movies were made in the year 1950?

In [43]:
titles_filter = titles["year"] == 1950

In [45]:
len(titles[titles_filter])

1099

### How many movies were made in the year 1960?

In [46]:
titles_filter = titles["year"] == 1960

In [47]:
len(titles[titles_filter])

1501

### How many movies were made from 1950 through 1959?

In [48]:
titles_filter = (titles["year"] >= 1950) & (titles["year"] <= 1959)

In [49]:
len(titles[titles_filter])

12711

### In what years has a movie titled "Batman" been released?

In [51]:
titles_filter = titles["title"] == "Batman"

In [53]:
titles[titles_filter]["year"]

56000    1989
74608    1943
Name: year, dtype: int64

### How many roles were there in the movie "Inception"?

In [54]:
cast_filter = cast["title"] == "Inception"

In [56]:
len(cast[cast_filter])

77

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [59]:
cast_filter = (cast["title"] == "Inception") & (cast["n"].isnull())

In [61]:
len(cast[cast_filter])

26

### But how many roles in the movie "Inception" did receive an "n" value?

In [62]:
cast_filter = (cast["title"] == "Inception") & (~cast["n"].isnull())

In [63]:
len(cast[cast_filter])

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [64]:
cast_filter = (cast["title"] == "North by Northwest") & (~cast["n"].isnull())

In [65]:
cast[cast_filter].sort_values("n")

,title,year,name,type,character,n
845516,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3382934,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1413409,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3043261,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
345822,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
2941468,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1644542,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1236791,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2372617,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1757154,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
646039,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2225858,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
450691,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1463316,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
199768,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1343025,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [66]:
cast_filter = (cast["title"] == "Sleuth") & (cast["year"] == 1972)

In [68]:
cast[cast_filter].sort_values("n")

,title,year,name,type,character,n
1654402,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
316652,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
362592,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1421434,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2635708,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1405219,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [69]:
cast_filter = (cast["title"] == "Sleuth") & (cast["year"] == 2007)

In [70]:
cast[cast_filter].sort_values("n")

          title  year                 name     type          character    n
316653   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1254632  Sleuth  2007             Jude Law    actor               Milo  2.0
1751872  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
251883   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
362593   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2635707  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3244050  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [73]:
cast_filter = (cast["title"] == "Hamlet") & (cast["year"] == 1921)

In [74]:
len(cast[cast_filter])

9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [75]:
cast_filter = (cast["title"] == "Hamlet") & (cast["year"] == 1996)

In [77]:
cast[cast_filter]

,title,year,name,type,character,n
1627,Hamlet,1996,Riz Abbasi,actor,Attendant to Claudius,1.0
92704,Hamlet,1996,Richard Attenborough,actor,English Ambassador,2.0
153311,Hamlet,1996,Simon Russell Beale,actor,Second Gravedigger,37.0
207503,Hamlet,1996,David (V) Blair,actor,Attendant to Claudius,3.0
212457,Hamlet,1996,Brian Blessed,actor,Ghost of Hamlet's Father,4.0
242837,Hamlet,1996,Christopher Bowles,actor,Cadet in Play,NaN
251868,Hamlet,1996,Kenneth Branagh,actor,Hamlet,5.0
264011,Hamlet,1996,Richard Briers,actor,Polonius,6.0
285360,Hamlet,1996,Michael Bryant,actor,Priest,7.0
309603,Hamlet,1996,Peter Bygott,actor,Attendant to Claudius,8.0
333722,Hamlet,1996,Kenneth W Caravan,actor,Laertes Mob,NaN
485966,Hamlet,1996,Billy Crystal,actor,First Gravedigger,10.0
503069,Hamlet,1996,Charles Daish,actor,Stage Manager,11.0
559144,Hamlet,1996,G?rard Depardieu,actor,Reynaldo,13.0
580835,Hamlet,1996,Reece Dinsdale,actor,Guildenstern,14.0
586334,Hamlet,1996,Ken Dodd,actor,Yorick,15.0
637485,Hamlet,1996,Rob Edwards,actor,Lucianus,17.0
649460,Hamlet,1996,Jimmy Ellis,actor,Old Fortinbras,NaN
683465,Hamlet,1996,Nicholas Farrell,actor,Horatio,18.0
687495,Hamlet,1996,Ray Fearon,actor,Francisco,19.0
802518,Hamlet,1996,John Gielgud,actor,Priam,21.0
961749,Hamlet,1996,Charlton Heston,actor,Player King,23.0
1043312,Hamlet,1996,Ravil Isyanov,actor,Cornelius,24.0
1050565,Hamlet,1996,Derek Jacobi,actor,Claudius,25.0
1174514,Hamlet,1996,Jeffery Kissoon,actor,Fortinbras's Captain,27.0
1276934,Hamlet,1996,Jack Lemmon,actor,Marcellus,29.0
1358575,Hamlet,1996,Anthony Maddalena,actor,Elsinore Courtier,NaN
1374688,Hamlet,1996,Michael Maloney,actor,Laertes,31.0
1444528,Hamlet,1996,Ian McElhinney,actor,Barnardo,30.0
1502946,Hamlet,1996,John Mills,actor,Old Norway,33.0
1509618,Hamlet,1996,Jimi Mistry,actor,Sailor Two,34.0
1540966,Hamlet,1996,Frank (II) Morgan,actor,Pyrrhus,NaN
1978651,Hamlet,1996,Andrew Schofield,actor,Young Lord,38.0
1991086,Hamlet,1996,Orlando Seale,actor,Boatman,NaN
2005370,Hamlet,1996,Rufus Sewell,actor,Fortinbras,39.0
2086229,Hamlet,1996,Timothy Spall,actor,Rosencrantz,40.0
2089602,Hamlet,1996,John Spencer-Churchill,actor,Fortinbras's Captain,32.0
2154537,Hamlet,1996,Thomas Szekeres,actor,Young Hamlet,41.0
2191031,Hamlet,1996,Ben Thom,actor,First Player,42.0
2330601,Hamlet,1996,Don Warrington,actor,Voltimand,43.0
2378564,Hamlet,1996,Robin Williams,actor,Osric,45.0
2424160,Hamlet,1996,David Yip,actor,Sailor One,47.0
2432214,Hamlet,1996,Jimmy Yuill,actor,Alexander,NaN
2648191,Hamlet,1996,Julie Christie,actress,Gertrude,9.0
2720484,Hamlet,1996,Judi Dench,actress,Hecuba,12.0
2740902,Hamlet,1996,Angela Douglas,actress,Attendant to Gertrude,16.0
2839226,Hamlet,1996,Yvonne Gidden,actress,Doctor,20.0
2895535,Hamlet,1996,Rosemary Harris,actress,Player Queen,22.0
3008093,Hamlet,1996,Rowena King,actress,Attendant to Gertrude,26.0
3040452,Hamlet,1996,Sarah Lam,actress,Attendant to Gertrude,28.0
3319670,Hamlet,1996,Sian Radinger,actress,Prologue,35.0
3324436,Hamlet,1996,Melanie Ramsay,actress,Prostitute,NaN
3580610,Hamlet,1996,Perdita Weeks,actress,Second Player,44.0
3601799,Hamlet,1996,Kate Winslet,actress,Ophelia,46.0

### How many "Hamlet" roles have been listed in all film credits through history?

In [78]:
cast_filter = (cast["title"] == "Hamlet")

In [79]:
len(cast[cast_filter])

313

### How many people have played an "Ophelia"?

In [80]:
cast_filter = (cast["character"] == "Ophelia")

In [81]:
len(cast[cast_filter])

111

### How many people have played a role called "The Dude"?

In [82]:
cast_filter = (cast["character"] == "The Dude")

In [83]:
len(cast[cast_filter])

18

### How many people have played a role called "The Stranger"?

In [84]:
cast_filter = (cast["character"] == "The Stranger")

In [85]:
len(cast[cast_filter])

212

### How many roles has Sidney Poitier played throughout his career?

In [86]:
cast_filter = (cast["name"] == "Sidney Poitier")

In [87]:
len(cast[cast_filter])

43

### How many roles has Judi Dench played?

In [88]:
cast_filter = (cast["name"] == "Judi Dench")

In [89]:
len(cast[cast_filter])

54

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [91]:
cast_filter = (cast["name"] == "Cary Grant") & (cast["year"] >= 1940) & (cast["year"] < 1950) & (cast["n"] == 2)

In [94]:
cast[cast_filter].sort_values("year")

                   title  year        name   type    character    n
845513  My Favorite Wife  1940  Cary Grant  actor   Nick Arden  2.0
845523    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [95]:
cast_filter = (cast["name"] == "Cary Grant") & (cast["year"] >= 1940) & (cast["year"] < 1950) & (cast["n"] == 1)

In [96]:
cast[cast_filter].sort_values("year")

,title,year,name,type,character,n
845539,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
845495,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
845541,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
845528,Suspicion,1941,Cary Grant,actor,Johnnie,1.0
845543,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
845519,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
845486,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
845511,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1.0
845512,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1.0
845520,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
845478,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
845515,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
845514,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
845517,Notorious,1946,Cary Grant,actor,Devlin,1.0
845535,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
845536,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
845510,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
845490,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
845499,I Was a Male War Bride,1949,Cary Grant,actor,Captain Henri Rochard,1.0

### How many roles were available for actors in the 1950s?

In [100]:
cast_filter = (cast["year"] >= 1950) & (cast["year"] < 1960) & (cast["type"] == "actor")

In [101]:
len(cast[cast_filter])

155058

### How many roles were avilable for actresses in the 1950s?

In [102]:
cast_filter = (cast["year"] >= 1950) & (cast["year"] < 1960) & (cast["type"] == "actress")

In [103]:
len(cast[cast_filter])

56412

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [104]:
cast_filter = (cast["n"] == 1) & (cast["year"] <= 1980)

In [105]:
len(cast[cast_filter])

64095

### How many non-leading roles were available through from the beginning of film history through 1980?

In [106]:
cast_filter = (cast["n"] != 1) & (cast["year"] <= 1980)

In [107]:
len(cast[cast_filter])

1097484

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [108]:
cast_filter = (cast["n"].isnull()) & (cast["year"] <= 1980)

In [109]:
len(cast[cast_filter])

439134