In [1]:
# import geopandas and matplotlib
import geopandas as gpd
import matplotlib.pyplot as plt

In [2]:
# countries data
world = gpd.read_file(gpd.datasets.get_path('naturalearth_lowres'))

**Print the top 5 rows of world dataframe.**

In [3]:
world.head()

,pop_est,continent,name,iso_a3,gdp_md_est,geometry
0,920938,Oceania,Fiji,FJI,8374.0,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000..."
1,53950935,Africa,Tanzania,TZA,150600.0,"POLYGON ((33.90371 -0.95000, 34.07262 -1.05982..."
2,603253,Africa,W. Sahara,ESH,906.5,"POLYGON ((-8.66559 27.65643, -8.66512 27.58948..."
3,35623680,North America,Canada,CAN,1674000.0,"MULTIPOLYGON (((-122.84000 49.00000, -122.9742..."
4,326625791,North America,United States of America,USA,18560000.0,"MULTIPOLYGON (((-122.84000 49.00000, -120.0000..."

**Remove continents which have only one country in dataframe.**

In [21]:
# continents with only one country
continent = world.groupby("continent").size()
continents1more = continent[continent == 1]
print(continents1more)
#world["continent" == ]

continent
Antarctica                 1
Seven seas (open ocean)    1
dtype: int64

In [23]:
# remove these continents
world_cleaned = world[~world['continent'].isin(continents1more.index)]
print(world_cleaned)

       pop_est      continent                      name iso_a3  gdp_md_est  \
0       920938        Oceania                      Fiji    FJI      8374.0
1     53950935         Africa                  Tanzania    TZA    150600.0
2       603253         Africa                 W. Sahara    ESH       906.5
3     35623680  North America                    Canada    CAN   1674000.0
4    326625791  North America  United States of America    USA  18560000.0
..         ...            ...                       ...    ...         ...
172    7111024         Europe                    Serbia    SRB    101800.0
173     642550         Europe                Montenegro    MNE     10610.0
174    1895250         Europe                    Kosovo    -99     18490.0
175    1218208  North America       Trinidad and Tobago    TTO     43570.0
176   13026129         Africa                  S. Sudan    SSD     20880.0

                                              geometry
0    MULTIPOLYGON (((180.00000 -16.06713, 180.00000...
1    POLYGON ((33.90371 -0.95000, 34.07262 -1.05982...
2    POLYGON ((-8.66559 27.65643, -8.66512 27.58948...
3    MULTIPOLYGON (((-122.84000 49.00000, -122.9742...
4    MULTIPOLYGON (((-122.84000 49.00000, -120.0000...
..                                                 ...
172  POLYGON ((18.82982 45.90887, 18.82984 45.90888...
173  POLYGON ((20.07070 42.58863, 19.80161 42.50009...
174  POLYGON ((20.59025 41.85541, 20.52295 42.21787...
175  POLYGON ((-61.68000 10.76000, -61.10500 10.890...
176  POLYGON ((30.83385 3.50917, 29.95350 4.17370, ...

[175 rows x 6 columns]

**Create dataframe with top 3 most populated countries from each continent and store the result in dataframe with name 'world_filtered'.**

In [27]:
world_filtered = world_cleaned.groupby(["continent", "pop_est"]).size()

**Print the 'world_filtered' dataframe.**

In [28]:
print(world_filtered)

continent      pop_est
Africa         603253       1
               778358       1
               865267       1
               1467152      1
               1772255      1
                           ..
South America  31036656     1
               31304016     1
               44293293     1
               47698524     1
               207353391    1
Length: 175, dtype: int64

-----------------
## Part I: Create a choropleth map of world:

   - First using **Geopandas**
       - Note: Geopandas may not work well on your computers, especially on Windows computers, it is advised to use Google Collab for this assignment. 
   - Second using **Plotly**
       - Note: Plotly may not work well on Jupyter Labs, it is advised to use Jupyter Notebooks or Google Collab for the plotly portion. 


> #### Notes
> * the colors of countries from 'world_filtered' are based on population
> * other countries can stay white

### GeoPandas

In [ ]:
# create figure and axes



# create map from world_filtered data-frame




# add the rest of the countries

### Plotly

-----------
## Part II: More Geopandas

In Geopandas:

* add New York, Berlin, Paris, Toronto, Calgary, Tokyo to the map you have created before
    * to get geometry of these cities use the function, **gpd.tools.geocode**(['New York', 'Berlin', 'Paris','Toronto', 'Calgary', 'Tokyo'])
    * if you do not have the geopy library instaled, install it with the following command **in the jupyter notebook cell** `!pip install geopy`

In [ ]:
# get geometry


# create figure and axes




# create map from world_filtered data-frame




# add the rest of the countries



# add cities